doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS", type="Text/CSS")
        title Fotaza
        link(rel="icon", href="/favicon", type="image/x-icon")
    body
        include Navbar.pug
        - if (QueryBusqueda != null)
            h2 Búsqueda: "#{QueryBusqueda}"
            h3 Resultados: #{UploadList.length}
        - else if (PostsDestacados)
            h1 Posts Destacados de la última semana
        - else
            h2 Posts de Fotaza
            h3 Total de posts: #{UploadList.length}
        - if (UploadList.length != 0)
            each Upload in UploadList
                div.card.card-header.TituloPost(style=`background-color: ${Upload ["Color_Fondo"]};`)
                    div
                        - if (Upload ["URL_Miniatura"] !="/Medios/null")
                            img.img-thumbnail.float-start(src=`${Upload ["URL_Miniatura"]}`, alt=`Imagen del post #${Upload ["ID"]}`, width=128, height=128)
                        h3
                            a(href=`/Posts/Ver/${Upload ["ID"]}`) #{Upload ["Título_Post"]}
                        h4 Subido el #{Upload ["FechaSubida"]} por&nbsp;
                            a(href=`/Usuario/Perfil/${Upload ["Numero_OP"]}`) #{Upload ["Nombre_OP"]}
                        - if (Upload ["Etiquetas"] != null)
                            h5 Etiquetas: #{Upload ["Etiquetas"]}
                        - else
                            h5 Sin etiquetas
                        - if (PostsDestacados)
                            h4 Puntuación: #{Upload ["PuntuaciónPost"]} de 5 &#40;Votos: #{Upload ["TotalVotos"]}&#41;
        - else
            h2 No hay resultados
        footer
            h5 Todas las horas corresponden a la hora de tu computadora.
            h3
                a(href='/Posts') Página principal