doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Cambiar contraseña de #{UserName} - Fotaza
        link(rel="stylesheet" href="/CSS" type="Text/CSS")
        link(rel="icon" type="image/x-icon" href="/favicon")
    body
        nav.navbar.navbar-expand-lg.navbar-nav.navbar-toggleable-sm.navbar-light.bg-light.border-bottom.box-shadow.mb-3.sticky-top
            div.container-fluid
                div.navbar-collapse.collapse.d-sm-inline-flex.justify-content-between
                    ul.navbar-nav.flex-grow-1.align-items-center
                        li.nav-item
                            h2
                                a.nav-link.text-dark(href="/Posts") Fotaza
                        - if (IdUsuarioConectado == "NULL")
                            li.nav-item
                                button.btn.btn-primary
                                    a.nav-link.text-light(href="/Usuario/Ingresar") Iniciar Sesión
                        - else
                            li.nav-item
                                a.nav-link.text-success(href=`/Usuario/Perfil/${IdUsuarioConectado}`)
                                    h4 #{UserName}
                            li.nav-item
                                a.nav-link.text-danger(href="/Usuario/Salir")
                                    h5 Salir
                        li.nav-item
                            a.nav-link(href="/Posts/Destacados")
                                h5 Destacados
                        li.nav-item
                            a.nav-link(href="/Documentos/Términos-de-uso-y-Licencias.html")
                                h5 Términos y copyright
                        li.nav-item
                            a.nav-link(href="/Documentos/Guía-de-HTML-y-formato.html")
                                h5 Guía de HTML y formato
        h1 Editando contraseña de #{UserName}
        form(action="/Usuario/GuardarClave" method="post" enctype="application/x-www-form-urlencoded")
            input(type="hidden" name="IdUsuario" value=`${IdUsuarioConectado}`)
            label(for="CampoContrasena") Nueva contraseña
            input#CampoContrasena(class="form-control" type="password" max="255" name="ContraseñaUsuario" placeholder="Nueva contraseña")
            button(type="submit" class="btn btn-success") Guardar cambios
        h3 La sesión será cerrada tras guardar los cambios.