doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS", type="Text/CSS")
        title Nueva subida - Fotaza
        link(rel="icon", href="/favicon", type="image/x-icon")
    body
        nav.navbar.navbar-expand-lg.navbar-nav.navbar-toggleable-sm.navbar-light.bg-light.border-bottom.box-shadow.mb-3.sticky-top
            div.container-fluid
                div.navbar-collapse.collapse.d-sm-inline-flex.justify-content-between
                    ul.navbar-nav.flex-grow-1.align-items-center
                        li.nav-item
                            h2
                                a.nav-link.text-dark(href="/Home") Fotaza
                        - if (IdUsuarioConectado == "NULL")
                            li.nav-item
                                button.btn.btn-primary
                                    a.nav-link.text-light(href="/Usuario/Ingresar") Iniciar Sesión
                        - else
                            li.nav-item
                                a.nav-link.text-success(href=`/Usuario/Perfil/${IdUsuarioConectado}`)
                                    h4 #{UsuarioConectado}
                            li.nav-item
                                a.nav-link.text-danger(href="/Usuario/Salir")
                                    h5 Salir
                            li.nav-item
                                a.nav-link.text-warning(href="/Usuario/EditarPerfil")
                                    h5 Editar Perfil
                        li.nav-item
                            a.nav-link(href="/Posts")
                                h5 Subidas
                        li.nav-item
                            a.nav-link(href="/Documentos/Términos-de-uso-y-Licencias.html")
                                h5 Términos y copyright
                        li.nav-item
                            a.nav-link(href="/Documentos/Guía-de-HTML-y-formato.html")
                                h5 Guía de HTML y formato
        h1 Nueva subida
        h2 Por #{UsuarioConectado}
        br
        div.align-items-center.text-center
            form(action="/Posts/Nuevo", method="post", enctype="multipart/form-data")
                input.input-group-text.form-control.fw-bold.input-group-lg(type="text", name="TituloPost", placeholder="Título")
                input(type="hidden", name="SubidoPor", value=`${IdUsuarioConectado}`)
                input.input-group-text.form-control.fw-bold.input-group-lg(type="text", name="TagsPost", placeholder="Etiquetas (Máximo 3)")
                textarea.form-control(name="TextoPost", cols="50", rows="10", placeholder="Texto del post")
                label(for="Foto") Foto &#40;Máximo 10 MiB&#41;
                input.form-control#Foto(type="file", name="PostMedia")
                p Licencia&nbsp;
                    a(href="/Documentos/Términos-de-uso-y-Licencias.html") &#40;Más información aquí&#41;&nbsp;
                    select(name="Licencia")
                        option(disabled=true selected) Elige una
                        option(disabled=true) Contenido original o de un tercero
                        option(value="CC-BY") Creative Commons &#40;CC-BY 4.0&#41;
                        option(value="CC-BY-SA") Creative Commons Atribución Compartir Igual &#40;CC-BY-SA 4.0&#41;
                        option(value="CC-BY-ND") Creative Commons Atribución Sin Derivados &#40;CC-BY-ND 4.0&#41;
                        option(value="CC-BY-NC") Creative Commons Atribución No Comercial &#40;CC-BY-NC 4.0&#41;
                        option(value="CC-BY-NC-ND") Creative Commons Atribución No Comercial Sin Derivados &#40;CC-BY-NC-ND 4.0&#41;
                        option(value="CC-BY-NC-SA") Creative Commons Atribución No Comercial Compartir Igual &#40;CC-BY-NC-SA 4.0&#41;
                        option(value="CC0") Dedicación al Dominio Público - Creative Commons Cero &#40;CC0&#41;
                        option(disabled=true) Contenido de un tercero exclusivamente
                        option(value="Copyright") Copyright bajo autorización o uso justo
                        option(value="Public") Dominio Público
                        option(disabled=true) No se permite contenido original bajo copyright
                    br
                    |Categoría&nbsp;
                    select(name="Categoría")
                        option(disabled=true selected) Elige una
                        //- Espero las comillas vacías sean tomadas como NULL y no como "null"
                        option(value="") Sin categoría
                        option(value="Paisaje") Paisajes
                        option(value="Animales") Fauna
                        option(value="Plantas") Flora
                        option(value="Deportes") Deportes de cualquier tipo
                        option(value="Salud") Salud, bienestar
                        option(value="Stock") Foto de stock
                        option(value="Automotor") Autos, motos, y afines
                        option(value="Arte") Arte, dibujos, y manualidades
                        option(value="Diversión") Diversión variada
                    br
                    |Visibilidad&nbsp;
                    select(name="Visibilidad")
                        option(value="Público") Público
                        option(value="Usuarios") Sólo usuarios
                br
                button.btn.btn-success(type="submit")
                    b ¡Subir!