doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS", type="Text/CSS")
        title #{UserName} - Fotaza
        link(rel="icon", href="/favicon", type="image/x-icon")
    body
        include Navbar.pug
        div.card.card-header
            h1 #{UserName}
        div.card.card-body
            h2 Se unió el #{JoinDate}
            h3 ID ##{UserID}
            h3 Rol: #{UserRole}
            h4
                a(href=`/Posts/Buscar?Usuario=${UserID}&Licencia=Todas&Categoria=Todas&Tag=Todas`) Ver subidas del usuario
        - if (UserProfile == null)
            div.card.bg-light.card-body
                h3 Éste usuario no tiene descripción.
        - else
            div.card.card-body.bg-light!=UserProfile
        div.card.bg-light.card-body
            h3
                a(href="/") Página principal