doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS", type="Text/CSS")
        title #{UserName} - Fotaza
        link(rel="icon", href="/favicon", type="image/x-icon")
    body
        nav.navbar.navbar-expand-lg.navbar-nav.navbar-toggleable-sm.navbar-light.bg-light.border-bottom.box-shadow.mb-3.sticky-top
            div.container-fluid
                div.navbar-collapse.collapse.d-sm-inline-flex.justify-content-between
                    ul.navbar-nav.flex-grow-1.align-items-center
                        li.nav-item
                            h2
                                a.nav-link.text-dark(href="/Posts") Fotaza
                        - if (IdUsuarioConectado == "NULL")
                            li.nav-item
                                button.btn.btn-primary
                                    a.nav-link.text-light(href="/Usuario/Ingresar") Iniciar Sesión
                        - else
                            li.nav-item
                                a.nav-link.text-success(href=`/Usuario/Perfil/${IdUsuarioConectado}`)
                                    h4 #{UsuarioConectado}
                            li.nav-item
                                a.nav-link.text-danger(href="/Usuario/Salir")
                                    h5 Salir
                            li.nav-item
                                a.nav-link.text-info(href="/Posts/Subir")
                                    h5 Subir Post
                            li.nav-item
                                a.nav-link.text-warning(href="/Usuario/EditarPerfil")
                                    h5 Editar Perfil
                        li.nav-item
                            a.nav-link(href="/Posts")
                                h5 Subidas
                        li.nav-item
                            a.nav-link(href="/Documentos/Términos-de-uso-y-Licencias.html")
                                h5 Términos y copyright
                        li.nav-item
                            a.nav-link(href="/Documentos/Guía-de-HTML-y-formato.html")
                                h5 Guía de HTML y formato
        div.card.card-header
            h1 #{UserName}
        div.card.card-body
            h2 Se unió el #{JoinDate}
            h3 ID ##{UserID}
            h3 Rol: #{UserRole}
            h4
                a(href=`/Posts/Buscar?Usuario=${UserID}&Licencia=Todas&Categoria=Todas&Tag=Todas`) Ver subidas del usuario
        - if (UserProfile == null)
            div.card.bg-light.card-body
                h3 Éste usuario no tiene descripción.
        - else
            div.card.card-body.bg-light!=UserProfile
        div.card.bg-light.card-body
            h3
                a(href="/") Página principal